<div class="container">

  <app-pokemon-search></app-pokemon-search>
  
  <div class="list-pokemons">
    <div class="pokemon-card" *ngFor="let pokemon of listPokemons"
         pkmnBorderCard (click)="goToPokemon(pokemon.id)">

      <div class="img">
        <img [src]="pokemon.picture" alt="logo du Pokémon" />
      </div>

      <div class="details">
        <p>{{ pokemon.name }} // id: {{ pokemon.id }}</p>
        <p>{{ pokemon.created | date: "EE d MMMM YYYY" }}</p>
        <p>Points de vie : {{ pokemon.cp }}</p>

        <span *ngFor="let type of pokemon.types"
              class="{{ type | pokemonTypeColor }}">
          {{ type }}
        </span>
      </div>
    </div>
  </div>
</div>

<a class="btn-add-pokemon" routerLink="/pokemon/add">➕</a>
