<div *ngIf="pokemonSelected" class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ pokemonSelected.name }}</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img [src]="pokemonSelected.picture" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>Nom</td>
                <td>
                  <strong>{{ pokemonSelected.name }}</strong>
                </td>
              </tr>
              <tr>
                <td>Points de vie</td>
                <td>
                  <strong>{{ pokemonSelected.hp }}</strong>
                </td>
              </tr>
              <tr>
                <td>Dégâts</td>
                <td>
                  <strong>{{ pokemonSelected.cp }}</strong>
                </td>
              </tr>
              <tr>
                <td>Types</td>
                <td>
                  <span *ngFor="let type of pokemonSelected.types"
                    class="{{ type | pokemonTypeColor }}">
                    {{ type }}
                  </span>
                </td>
              </tr>
              <tr>
                <td>Date de création</td>
                <td>
                  <em>{{ pokemonSelected.created | date: "dd/MM/yyyy" }}</em>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goToPokemonList()">Retour</a>
          <a (click)="goToEditPokemon(pokemonSelected.id)">Éditer</a>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 *ngIf="!pokemonSelected" class="center">Aucun pokémon à afficher !</h4>
